@model IEnumerable<InterviewAcerAdminLogin.Common.ResponseClasses.GroupDetails>

<div class="panel-group custom-accordian m-t-30" id="accordion" role="tablist" aria-multiselectable="true">
    <!-- first accordian -->
    @foreach (var group in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="editable up-down-arrow accordian-title" data-toggle="collapse" data-parent="#accordion" href=@("#" + group.GroupId) aria-expanded="true" aria-controls="collapseOne">
                        <span data-val="@group.GroupId" class="m-t-10 display-inline">@group.Name</span>
                        <input id="groupName" class="m-t-10 display-inline" type="text" style="display:none; outline:none; border:0; border-bottom:5px;" />
                    </a>

                    <div class="crud-wrapper">
                        <span onclick="$('[data-val ='+ @group.GroupId + ']').click();" class="f-blue capitalize m-r-20 cursor-pointer browse-file" for="excelFile">
                            <img src="~/images/upload-file.png" class="icon-width" /> Import data
                        </span>


                        <input data-val=@group.GroupId type="file" style="display:none" class="openFile" name="excelFile" accept=".xls,.xlsx" />

                        <span class="capitalize m-r-20 cursor-pointer">
                            <img src="~/images/download.png" class="icon-width" />
                            <select data-val=@group.GroupId class="form-control custom-select-dropdown exportData">
                                <option value="0">download</option>
                                <option value="1">Export Template</option>
                                <option value="2">Export Data</option>
                            </select>
                        </span>
                        <img src="images/Edit.png" class="edit-title-icon icon-width m-r-20" data-target="#edit-popup" data-toggle="modal" />
                        @*<img data-val="@group.GroupId" src="~/images/Edit.png" class="icon-width m-r-20 edit-group-name" />*@
                        <img src="~/images/Trash.png" class="icon-width" />
                    </div>
                    <div class="clearfix"></div>
                </h4>
            </div>
            <div id=@group.GroupId class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <ul>
                                @foreach (var checkList in group.GroupCheckList)
                                {
                                    @*<li>
                                            <div class="col-md-10">
                                                <div class="radio">
                                                    <input id="first-rd" name="gender" type="radio" value="">
                                                    <label for="first-rd" class="f-bold">
                                                        <span><i></i></span> @checkList.Name
                                                    </label>

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <span class="pull-right m-t-10"> @checkList.Points</span>
                                            </div>

                                            <div class="clearfix"></div>
                                        </li>*@

                                    <li class="customBullet-points m-b-10">
                                        <div class="pull-left">
                                            @checkList.Name
                                        </div>
                                        <span class="pull-right">@checkList.Points</span>
                                        <div class="clearfix"></div>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>
<div id="edit-popup" class="custom-modal modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content common-label ">
            <div class="modal-body">
                <p class="page-title">Edit group title</p>
                <div class="row  m-b-30">
                    <div class="col-md-12">
                        <div class="form-row">
                            <input type="text" id="edit-title" class="form-textbox form-control" required>
                            <label for="edit-title" class="form-label">Edit Title</label>
                        </div>
                    </div>
                    <div id="grpTitleValidation" class="col-md-12" style="padding-top:10px; color:#a94442" hidden>
                        Please enter the group title.
                    </div>
                </div>
                <div class="p-t-10">
                    <a id="cancelGroupTitle" href="#" class="f-blue pull-left m-t-10" data-dismiss="modal">Cancel</a>
                    <button id="btnSaveGroupTitle" class="btn primary-btn pull-right">Save</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var groupIdForNameChange;

        $('#btnSaveGroupTitle').on('click', function () {
            if ($('#edit-title').val() == '') {
                $('#grpTitleValidation').show();
            }
            else {              
                $.ajax({
                    type: "GET",
                    url: 'Home/UpdateGroupName?groupId=' + groupIdForNameChange + '&groupName=' + $('#edit-title').val(),
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data == "True") {
                            $('#edit-popup').hide();
                            $('.modal-backdrop').remove();                           
                            $('span[data-val=' + groupIdForNameChange + ']').html($('#edit-title').val());
                            $('#edit-title').val('');
                        }
                        else {
                            alert("some problem occured while updating group name.");
                        }

                    },
                    error: function (xhr, status, p3, p4) {
                        alert("some problem occured while updating group name.");
                        return false;
                    }
                });
            }
        });
        $('#edit-title').on('keyup', function () {
            if ($('#edit-title').val() == '') {
                $('#grpTitleValidation').show();
            }
            else {
                $('#grpTitleValidation').hide();
            }
        });
        $('#cancelGroupTitle').on('click', function () {
            $('#edit-title').val('');
            $('#grpTitleValidation').hide();
        });
        $('.edit-title-icon').on('click', function () {
            groupIdForNameChange = $(this).parent().find('input').data('val');            
            $('#edit-title').val($('span[data-val=' + groupIdForNameChange + ']').html());
            $('#edit-popup').show();
        })
        $('.openFile').on('change', function () {
            if ($(this).val() != "") {
                var validExtensions = ['xlsx', 'xls']; //array of valid extensions
                var fileName = $(this).val().toLowerCase();
                var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
                if ($.inArray(fileNameExt, validExtensions) == -1) {
                    //if (!regex.test()) {
                    alert("Please upload a valid Excel file!");
                    return false;
                }
                else {
                    var groupId = $(this).data('val');
                    var fl = $(this).get(0).files[0];
                    UploadSelectedExcelsheet(groupId, fl);
                }
            }
            else {
                alert("Please upload a Excel file!");
                return false;
            }
        });
        $(".exportData").on('change', function () {
            var value = $(this).val();

            if (value == "1") {
                var groupIdValue = $(this).data('val');
                window.location = '@Url.Action("GetCheckListExcel", "Home")' + "?groupId=" + groupIdValue + "&isTemplateOnly=true";
            }
            if (value == "2") {
                var groupIdValue = $(this).data('val');
                window.location = '@Url.Action("GetCheckListExcel", "Home")' + "?groupId=" + groupIdValue + "&isTemplateOnly=false";
            }
            $(this).val("0");
        });
        $("#accordion .panel-heading:first").addClass("active");

        $("#accordion  .panel-collapse:first").addClass("in");

        $('#accordion  .panel-heading a').click(function () {
            $('#accordion .panel-heading').removeClass('active');

            //If the panel was open and would be closed by this click, do not active it
            if (!$(this).closest('.panel').find('.panel-collapse').hasClass('in'))
                $(this).parents('.panel-heading').addClass('active');
        });
        //$('.edit-group-name').on('click', function () {
        //    var groupid = $(this).data('val');
        //    $('.editable span[data-val =' + groupid + ']').hide();
        //    $('.editable span[data-val =' + groupid + ']').next('input[type = text]').show();
        //    $('.editable span[data-val =' + groupid + ']').next('input[type = text]').val($('.editable span[data-val =' + groupid + ']').html());
        //});

        $('.editable span').next('input[type=text]').on('focusout', function () {
            $(this).hide();
            $(this).parent().find('span').show();
            if ($(this).val() !== "") {
                $(this).parent().find('span').html($(this).val());
                var groupid = $(this).parent().find('span').data('val');
                var groupNameValue = $(this).val();
                $.ajax({
                    type: "GET",
                    url: 'Home/UpdateGroupName?groupId=' + groupid + '&groupName=' + groupNameValue,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data == "True") {
                            alert("Group name was updated.");
                        }
                        else {
                            alert("some problem occured while updating group name.");
                        }

                    },
                    error: function (xhr, status, p3, p4) {
                        alert("some problem occured while updating group name.");
                        return false;
                    }
                });
            }

        });
    });
    function UploadSelectedExcelsheet(groupId, file) {
        var data = new FormData();
        var i = 0;


        if (file != undefined) {
            data.append("file", file);
            data.append("groupId", groupId);
        }


        $.ajax({
            type: "POST",
            url: 'Home/UploadExcelsheet/',
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                var activeStageId = $('#interviewStages .active a').data('stageid');
                $("#GroupPartialView").load('@(Url.Action("GetGroups", "Home",null, Request.Url.Scheme))?stageId=' + activeStageId);
                if (data.toLowerCase() == 'true') {
                    alert("Checklist successfully added/updated.");
                }
                else {
                    alert("Some checklist were not added/updated. Please verify the excel data.");
                }
                $(".openFile").val('');
            },
            error: function (xhr, status, p3, p4) {
                //$(".openFile").val('');
                //var err = "Error " + " " + status + " " + p3 + " " + p4;
                //if (xhr.responseText && xhr.responseText[0] == "{")
                //    err = JSON.parse(xhr.responseText).Message;
                alert("some issue occured while adding/updating data.");
                return false;
            }
        });
    }
</script>
