@model IEnumerable<InterviewAcerAdminLogin.Models.UserGeneralDetails>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
</head>
<style>
    .paginate_button a {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .previous a, .next a {
        padding: 3px 8px !important;
    }
</style>

<div class="container body">
    <!-- TOP NAV -->
    <div class="top_nav">
        @{Html.RenderPartial("~/Views/Shared/_UserDetailsHeader.cshtml");}     
    </div>
    <!-- TOP NAV END -->
    <!-- DASHBOARD-->
    <div id="divPartialViewContainer" class="right_col">
        <div class="dashboard">
            <div class="tab-content">
                <div class="dashboard-page-header">
                    <div class="customSelect-search pull-left">
                        <div id="name-search-container" style="display:inline-block">

                            <div style="padding-left:0" class="searchWrapper">
                                <input id="name-search" type="text" class="form-control customSearch-control" placeholder="name search">
                                <p class="p-t-10 f-weight700">Recently searched</p>
                            </div>
                            <div style="display:inline-block" class="dropdown search-dropDown">
                                <button class="btn dropdown-toggle customDropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="selectedValue">Name</span>
                                    <span class="caret"></span>
                                </button>

                                <div class="dropdown-menu customDropdown-menu">

                                    <ul>
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div id="email-search-container" style="display:inline-block">

                            <div style="padding-left:0" class="searchWrapper">
                                <input id="email-search" type="text" class="form-control customSearch-control" placeholder="email search">
                                <p class="p-t-10 f-weight700">Recently searched</p>
                            </div>
                            <div style="display:inline-block" class="dropdown search-dropDown">
                                <button class="btn dropdown-toggle customDropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="selectedValue">EmailId</span>
                                    <span class="caret"></span>
                                </button>

                                <div class="dropdown-menu customDropdown-menu">

                                    <ul>
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div id="university-search-container" style="display:inline-block">

                            <div style="padding-left:0" class="searchWrapper">
                                <input id="university-search" type="text" class="form-control customSearch-control" placeholder="university search">
                                <p class="p-t-10 f-weight700">Recently searched</p>
                            </div>
                            <div style="display:inline-block" class="dropdown search-dropDown">
                                <button class="btn dropdown-toggle customDropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="selectedValue">University</span>
                                    <span class="caret"></span>
                                </button>

                                <div class="dropdown-menu customDropdown-menu">

                                    <ul>
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <select id="user-status" class="selectpicker m-r-15" style="display:inline-block" data-show-subtext="true" title="Status">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                    <div class="pull-right">
                        <button id="userExport" class="btn secondary-btn">Export <img src="images/download-arrow.png" class="icon-width" /></button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- table structure  -->
                <table id="userDetails" class="table table-responsive table-striped sortable">
                    <thead>
                        <tr>
                            <td>
                                <div class="form-group checkbox">
                                    <label class="f-14">
                                        <input type="checkbox" id="chk" name="chkTerms">
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>

                                    </label>

                                </div>
                            </td>
                            <th>Name</th>

                            <th>Email id</th>
                            <th>Mobile number</th>
                            <th>University name </th>
                            <th>University code</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr data-userId="@user.UserId" style="cursor:pointer">
                                <td>
                                    <div class="form-group checkbox">
                                        <label class="f-14">
                                            <input type="checkbox" id="chk" name="chkTerms">
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>

                                        </label>

                                    </div>
                                </td>
                                <td>@user.FullName</td>
                                <td>@user.EmailAddress</td>
                                <td>@user.MobileNumber</td>
                                <td>@user.UniversityName</td>
                                <td class="caps">@user.UniversityCode</td>
                                <td>@user.Status</td>
                                <td>
                                    <div class="moreDots-wrapper">
                                        <img src="images/more_dots.png" class="cursor-pointer" />
                                        <div class="moreDots-content">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <img src="images/Edit.png" class="icon-width" />
                                                        <span>Edit</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="images/Trash.png" class="icon-width" />
                                                        <span>Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!-- table structure  end-->

            </div>
        </div>
    </div>
    <!-- DASHBOARD END-->
</div>
<!--CONTENT END-->
@Scripts.Render("~/bundles/jquery")


<script>

    $(document).ready(function () {

        $('#name-search').on('keypress focusout', function () {
            if ((event.type = "keypress" && event.keyCode == 13) || event.type == "blur") {
                NameSearch($(this).val());
            }
        });

        $('#email-search').on('keypress focusout', function () {
            if ((event.type = "keypress" && event.keyCode == 13) || event.type == "blur") {
                EmailSearch($(this).val());
            }
        });

        $('#university-search').on('keypress focusout', function () {
            if ((event.type = "keypress" && event.keyCode == 13) || event.type == "blur") {
                UniversitySearch($(this).val());
            }
        });

        $('#userDetails').DataTable({
            "dom": '<"uers-pagination"p>', "columns": [
        { "orderable": false },
        null,
        { "orderable": false },
        { "orderable": false },
        null,
        { "orderable": false },
        { "orderable": false },
        { "orderable": false }
            ], "order": [[1, 'asc']], buttons: [{
                extend: 'excel',
                header: true,
                filename: "users",
                title: null,
                exportOptions: {
                    columns: [1, 2, 3, 4, 5, 6]
                }
            }],
            "pageLength": 5
        });

        $('#userExport').click(function () {
            $('#userDetails').DataTable().button('0').trigger();
        });

        $('tr').on('click', function () {
            var userIdForSelectedUser = $(this).data('userid');
            if (userIdForSelectedUser) {
               window.location.href = '@(Url.Action("GetUserInformation", "Users", new { userId = "USERID" }, Request.Url.Scheme))'.replace("USERID", userIdForSelectedUser)              
            }
        });

        $('#userDetails').on('order.dt', function () {
            $('tr').on('click', function () {
                var userIdForSelectedUser = $(this).data('userid');
                if (userIdForSelectedUser) {
                    window.location.href = '@(Url.Action("GetUserInformation", "Users", new { userId = "USERID" }, Request.Url.Scheme))'.replace("USERID", userIdForSelectedUser)

                }
            });
        });

        $('#user-status').on('change', function () {
            $('#userDetails').DataTable().columns(6).search($(this).val()).draw();
        })
    });

    var NameSearch = function (searchText) {
        $('#userDetails').DataTable().columns(1).search(searchText).draw();
        if (searchText != '') {
            var arr = [];
            if (sessionStorage.getItem('name-latest-search') === null) {
                arr.unshift(searchText)
            }
            else {
                var value = sessionStorage.getItem('name-latest-search');
                arr = JSON.parse(value);
                if (arr.indexOf(searchText) == -1)
                    arr.unshift(searchText)
            }
            if (arr.length > 3) {
                arr.splice(3, arr.length - 3);
            }
            sessionStorage.setItem('name-latest-search', JSON.stringify(arr));
            $('#name-search-container .customDropdown-menu ul').html('');
            for (var i = 0; i < arr.length; i++) {
                $('#name-search-container .customDropdown-menu ul').append("<li><a href='#'>" + arr[i] + "</a></li>")
            }

            $("#name-search-container .customDropdown-menu li a").click(function () {
                $("#name-search-container .customDropdown-toggle .selectedValue").text($(this).text());
                $("#name-search-container .customDropdown-toggle .selectedValue").val($(this).text());
                $('#userDetails').DataTable().columns(1).search($(this).text()).draw();
            });
        }
        $("#name-search-container .customDropdown-toggle .selectedValue").text('Name');
        $("#name-search-container .customDropdown-toggle .selectedValue").val('Name');
    }

    var EmailSearch = function (searchText) {
        $('#userDetails').DataTable().columns(2).search(searchText).draw();

        if (searchText != '') {
            var arr = [];
            if (sessionStorage.getItem('email-latest-search') === null) {
                arr.unshift(searchText)
            }
            else {
                var value = sessionStorage.getItem('email-latest-search');
                arr = JSON.parse(value);
                if (arr.indexOf(searchText) == -1)
                    arr.unshift(searchText)
            }
            if (arr.length > 3) {
                arr.splice(3, arr.length - 3);
            }
            sessionStorage.setItem('email-latest-search', JSON.stringify(arr));
            $('#email-search-container .customDropdown-menu ul').html('');
            for (var i = 0; i < arr.length; i++) {
                $('#email-search-container .customDropdown-menu ul').append("<li><a href='#'>" + arr[i] + "</a></li>")
            }



            $("#email-search-container .customDropdown-menu li a").click(function () {
                $("#email-search-container .customDropdown-toggle .selectedValue").text($(this).text());
                $("#email-search-container .customDropdown-toggle .selectedValue").val($(this).text());
                $('#userDetails').DataTable().columns(2).search($(this).text()).draw();
            });

        }
        $("#email-search-container .customDropdown-toggle .selectedValue").text('EmailId');
        $("#email-search-container .customDropdown-toggle .selectedValue").val('EmailId');
    }

    var UniversitySearch = function (searchText) {
        $('#userDetails').DataTable().columns(4).search(searchText).draw();

        if (searchText != '') {
            var arr = [];
            if (sessionStorage.getItem('university-latest-search') === null) {
                arr.unshift(searchText)
            }
            else {
                var value = sessionStorage.getItem('university-latest-search');
                arr = JSON.parse(value);
                if (arr.indexOf(searchText) == -1)
                    arr.unshift(searchText)
            }
            if (arr.length > 3) {
                arr.splice(3, arr.length - 3);
            }
            sessionStorage.setItem('university-latest-search', JSON.stringify(arr));
            $('#university-search-container .customDropdown-menu ul').html('');
            for (var i = 0; i < arr.length; i++) {
                $('#university-search-container .customDropdown-menu ul').append("<li><a href='#'>" + arr[i] + "</a></li>")
            }


            $("#university-search-container .customDropdown-menu li a").click(function () {
                $("#university-search-container .customDropdown-toggle .selectedValue").text($(this).text());
                $("#university-search-container .customDropdown-toggle .selectedValue").val($(this).text());
                $('#userDetails').DataTable().columns(4).search($(this).text()).draw();
            });
        }

        $("#university-search-container .customDropdown-toggle .selectedValue").text('University');
        $("#university-search-container .customDropdown-toggle .selectedValue").val('University');
    }

</script>
