@model InterviewAcerAdminLogin.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin-Login</title>
</head>
@Styles.Render("~/bundles/logincss")
<body>
    <div class="container login-body">
        <div class="login-pg text-center">
            <div class="row">
                <!-- login form start -->
                <div class="col-md-5 col-sm-7">
                    <div class="login-form text-left">
                        <!-- logo -->
                        <img src="~/images/logo.png" class="m-b-30" />
                        <!-- logo end-->
                        <p class="f-bold f-24 m-t-30 m-b-30 Avenir-Heavy">Admin login</p>
                        <!-- input for email id -->
                        @using (Html.BeginForm("ValidateLogin", "Login", FormMethod.Post, new { }))
                        {
                            <div class="form-row  m-b-30">
                                <input type="text" name="UserName" id="form-email" class="form-textbox form-control" required>
                                <label for="form-email" class="form-label">Email Id</label>
                                <div id="emailFormatValidation" style="color: #a94442; display:none" class="alert">Please entre valid email address</div>
                            </div>
                            <p class="m-t-20"></p>
                        <!-- input for email id end-->

                            <div class="form-row">
                                <input type="password" name="Password" id="form-password" class="form-textbox form-control" required>
                                <label for="form-password" class="form-label">Password</label>
                                <div id="passwordLengthValidation" style="color: #a94442; display:none" class="alert">Password length should be minimum 8 characters</div>
                            </div>
                        <!-- sign in -->
                            <div class="m-t-40 p-b-10 ">
                                <a class="pull-left m-t-20 f-16" href="#">Forgot your password?</a>
                                <button type="submit" id="signInButton"  class="btn btn-arrow primary-btn pull-right singIn-btn ">Sign In</button>
                                <div class="clearfix"></div>
                            </div>
                            <div class="m-t-40 p-b-10 ">
                             @Html.ValidationSummary(true, "", new { @style = "color: #a94442" })
                            </div>
                        }
                        <!-- sign in end-->
                    </div>
                </div>
                <!-- login form end -->
                <!-- login banner image -->
                <div class="col-md-7 col-sm-5">
                    <img src="~/images/login_background.png" class="img-responsive loginBg-img" />
                </div>
                <!-- login banner image end-->
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function (e) {
        var emailIsValid = true;
        var passwordIsValid = true;
        var passwordMinLength = 8;

        $('#form-email').on('change', function () {
            $('.validation-summary-errors').remove()
            var email = $('#form-email').val();
            var regex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            if(regex.test(email))
            {
                emailIsValid = true;
                $('#emailFormatValidation').hide();
            }
            else
            {
                emailIsValid = false;
                $('#emailFormatValidation').show();
            }
        });

        $('#form-password').on('change', function () {
            $('.validation-summary-errors').remove()
            var password = $('#form-password').val();
            if(password.length > passwordMinLength || password.length == 0)
            {
                passwordIsValid = true;
                $('#passwordLengthValidation').hide();
            }
            else {
                passwordIsValid = false;
                $('#passwordLengthValidation').show();
            }
        });
        $('#signInButton').on('click', function () {
            if (emailIsValid == false || passwordIsValid == false) {
                return false;
            }
        })
    });
</script>
